<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles_profile.css">
    <title>Login Page</title>
</head>
<body>
    <div class="flex-center-main-axis flex-row">
        <div class="box flex-center-cross-axis flex-col">
            <div class="box-header">
                <h1><%= user.first_name %> <%= user.last_name %></h1>
                <p>@<%= user.username %></p>
            </div>
            <div class="card flex-center-main-axis flex-col">
                <div class="card-info">
                    <h5>First Name</h5>
                    <p><%= user.first_name %></p>
                </div>
                <div class="card-info">
                    <h5>Last Name</h5>
                    <p><%= user.last_name %></p>
                </div>
                <div class="card-info">
                    <h5>Gender</h5>
                    <p><%= user.gender %></p>
                </div>
                <div class="card-info">
                    <h5>Age</h5>
                    <p><%= user.age %></p>
                </div>
                
            </div>
            <div class="card flex-center-main-axis flex-col">
                <div class="card-info">
                    <h5>Username</h5>
                    <p><%= user.username %></p>
                </div>
                <div class="card-info">
                    <h5>Password</h5>
                    <p><%= user.password %></p>
                </div>
                <div class="card-info">
                    <h5>ID</h5>
                    <p><%= user._id %></p>
                </div> 
            </div>
            <a href="/logout" class="button">Logout</a>
        </div>
    </div>
</body>
</html>